Flask==3.1.2
scikit-learn==1.3.2
pandas==2.1.4
numpy==1.26.4
joblib==1.3.2
tabulate==0.9.0
requests==2.32.3



# les dépendances vulnérables ci-dessus sont nécessaires pour tester le workflow CI/CD de bout en bout. Cependant, voici une liste de dépendances supplémentaires qui sont souvent associées à des vulnérabilités et qui pourraient être utilisées pour tester la détection de vulnérabilités dans les pipelines CI/CD :
# -------------------
# -------------------
# Frameworks web
# Django==2.2.10
# Flask==1.0

# Sérialisation / parsing (RCE)
# PyYAML==5.3.1
#
# Réseau / HTTP
# requests==2.19.1
# urllib3==1.24.1
# Machine Learning / modèles
#tensorflow==2.5.0

# Templates / utils
#Jinja2==2.10
#MarkupSafe==1.0
